<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Complete Responsive Food Website Design Tutorial</title>

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />


<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/ css/all.min.css">



<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" >

</head>

<body>

<header>

    <div class="logo-container">
        <a href="#" class="logo">
          <img src="/static/logo.jpg" alt="Resto Logo" style="height: 50px; width:50px; border-radius: 50%;" >
        </a>
        <span class="logo-name">Farm2Door</span>
      </div>

<nav class="navbar">

<a class="active" href="/">home</a>

<a href="/dishes">dishes</a>

<a href="/about">about</a>

<a href="/menu">menu</a>
<a href="/menu">order</a>
<a href="#review">review</a>
</nav>

<div class="icons">

<i class="fas fa-bars" id="menu-bars"></i>

<i class="fas fa-search" id="search-icon"></i>
<a href="#" class="fas fa-heart"></a>
<a href="#" class="fas fa-shopping-cart"></a>

</div>

</header>
<form action="" id="search-form">

    <input type="search" placeholder="search here..." name="" id="search-box">
    
    <label for="search-box" class="fas fa-search"></label>
    
    <i class="fas fa-times" id="close"></i>
    

    </form>

    <section class="home" id="home">

        <div class="swiper-container home-slider">
        
        <div class="swiper-wrapper wrapper">
        
        <div class="swiper-slide slide">
        
        <div class="content">
        
        <span>our special dish</span>
        
        <h3>Special meals</h3>
        
        <p>Indulge in Nature's Bounty: Savor the Freshness and Wholesomeness of Our Organic Special Meals</p>
        
        <a href="#" class="btn">Order now</a>
        
        </div>
        
        <div class="image">
        
        <img src="/static/meals.jpg" alt="" height="400" width="800">
        
        </div>
        </div>
        
        <div class="swiper-slide slide">
        
        <div class="content">
       
        
        <span>our special dish</span>
        
        <h3>Special salad</h3>
        
        <p>Delight in Every Bite: Experience the Crisp and Vibrant Flavors of Our Special Salad Creations</p>
        
        <a href="#" class="btn">Order now</a>
        
        </div>
        
        <div class="image">
        
        <img src="/static/s2.jpg" alt="" height="400" width="500" >
        
        </div>
        </div>
        <div class="swiper-slide slide">
        
        <div class="content">
        
        <span>our special dish</span>
        
        <h3>Hot pizza</h3>
        
        <p>The fact that the pain itself is very important will be pursued by the adipiscing developer. Let him be born
        
        what kind of pain?</p>
        
        <a href="#" class="btn">Order now</a>
        
        </div>
        
        <div class="image">
        
        <img src="/static/salad.jpg" alt="" height="400" width="500">
        
        </div>
        </div>
        </div>
        <div class="swiper-pagination"></div>
        </div>
        
        </section>
        <br>
        <br>
        <br>
        <br>

        <section class="review" id="review">

            <h3 class="sub-heading"> customer's review </h3>
            
            <h1 class="heading"> what they say </h1>
            
            <div class="swiper-container review-slider">
            
            <div class="swiper-wrapper">
            
            <div class="swiper-slide slide">
            <i class="fas fa-quote-right"></i>
            
            <div class="user">
            
            <img src="/static/s2.jpg" alt="">
            
            <div class="user-info">
            
            <h3>john deo</h3>
            <div class="stars">
            
            <i class="fas fa-star"></i>
            
            <i class="fas fa-star"></i>
            
            <i class="fas fa-star"></i>
            
            <i class="fas fa-star"></i>
            
            <i class="fas fa-star-half-alt"></i>
            
            </div>
            </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugiat consequuntur repellendus aperiam deserunt nihil, corporis fugit voluptatibus voluptate totam neque illo placeat eius quis laborum aspernatur quibusdam. Ipsum, magni.</p>
            
            </div>
            <div class="swiper-slide slide">
                <i class="fas fa-quote-right"></i>
                
                <div class="user">
                
                <img src="/static/salad.jpg" alt="">
                
                <div class="user-info">
                
                <h3>john deo</h3>
                <div class="stars">
                
                <i class="fas fa-star"></i>
                
                <i class="fas fa-star"></i>
                
                <i class="fas fa-star"></i>
                
                <i class="fas fa-star"></i>
                
                <i class="fas fa-star-half-alt"></i>
                
                </div>
                </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugiat consequuntur repellendus aperiam deserunt nihil, corporis fugit voluptatibus voluptate totam neque illo placeat eius quis laborum aspernatur quibusdam. Ipsum, magni.</p>
                
                </div>
                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    
                    <div class="user">
                    
                    <img src="/static/s2.jpg" alt="">
                    
                    <div class="user-info">
                    
                    <h3>john deo</h3>
                    <div class="stars">
                    
                    <i class="fas fa-star"></i>
                    
                    <i class="fas fa-star"></i>
                    
                    <i class="fas fa-star"></i>
                    
                    <i class="fas fa-star"></i>
                    
                    <i class="fas fa-star-half-alt"></i>
                    
                    </div>
                    </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugiat consequuntur repellendus aperiam deserunt nihil, corporis fugit voluptatibus voluptate totam neque illo placeat eius quis laborum aspernatur quibusdam. Ipsum, magni.</p>
                    
                    </div>
                    <div class="swiper-slide slide">
                        <i class="fas fa-quote-right"></i>
                        
                        <div class="user">
                        
                        <img src="/static/salad.jpg" alt="">
                        
                        <div class="user-info">
                        
                        <h3>john deo</h3>
                        <div class="stars">
                        
                        <i class="fas fa-star"></i>
                        
                        <i class="fas fa-star"></i>
                        
                        <i class="fas fa-star"></i>
                        
                        <i class="fas fa-star"></i>
                        
                        <i class="fas fa-star-half-alt"></i>
                        
                        </div>
                        </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugiat consequuntur repellendus aperiam deserunt nihil, corporis fugit voluptatibus voluptate totam neque illo placeat eius quis laborum aspernatur quibusdam. Ipsum, magni.</p>
                        
                        </div>
            </div>
        </div>
        </section>
        
            
        
            
            </section>
            
            
                    
                    
                <section class="footer">

                    <div class="box-container">
                    
                    <div class="box">
                    
                    <h3>locations</h3>
                    
                    <a href="#">india</a>
                    
                    <a href="#">japan</a>
                    
                    <a href="#">russia</a>
                    
                    <a href="#">USA</a>
                    
                    <a href="#">france</a>
                    
                    </div>
                    
                    <div class="box">
                    
                    <h3>quick links</h3>
                    
                    <a href="#">home</a>
                    
                    <a href="#">dishes</a>
                    
                    <a href="#">about</a>
                    
                    <a href="#">menu</a>
                    
                    <a href="#">review</a>
                    
                    <a href="#">order</a>
                    
                    </div>
                    
                    <div class="box">
                    
                    <h3>contact info</h3>
                    
                    <a href="#">+123-456-7890</a>
                    
                    <a href="#">+111-222-3333</a>
                    
                    <a href="#">shaikhanas@gmail.com</a>
                    
                    <a href="#">anasbhai@gmail.com</a>
                    
                    <a href="#">mumbai, india - 400104</a>
                    
                    </div>
                    
                    <div class="box">
                    
                    <h3>follow us</h3>
                    
                    <a href="#">facebook</a>
                    
                    <a href="#">twitter</a>
                    
                    <a href="#">instagram</a>
                    
                    <a href="#">linkedin</a>
                    
                    </div>
                    
                    </div>
                    
                    <div class="credit"> copyright @ 2021 by <span>ar. web designer</span> </div>
                    
                    </section>            


<div class="loader-container">

 <img src="images/loader.gif" alt="">
    
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


<script src="/static/script.js"></script>

</body>

</html>
